textarea {
  font-family: inherit;
  font-size: inherit;
}

.app {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.board {
  flex-grow: 1;
  overflow: auto;
  user-select: none;
}

.trash {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-grow: 0;
  height: 56px;
  text-align: center;
  background-color: #f2f2f2;
  border-top: 1px #d0d8db solid;
  user-select: none;
}

.trash.drag-over {
  background-color: #dde9f0;
}

.note {
  position: absolute;
  z-index: 1;
  padding: 8px;
  min-width: 112px;
  max-width: 512px;
  min-height: 48px;
  max-height: 400px;
  overflow: auto;
  line-height: 1.25;
  font-size: 16px;
  box-shadow: 0 2px 2px 0 rgba(33, 37, 41, 0.14), 0 3px 1px -2px rgba(33, 37, 41, 0.2), 0 1px 5px 0 rgba(33, 37, 41, 0.12);
  opacity: 0.85;
  resize: both;
  border: 1px #d0d8db solid;
}

.note.dragged {
  cursor: move;
  user-select: none;
  opacity: 0.2;
}
